@font-face {
    font-family:myFont;
    src:url('../font/THSarabun.ttf') format("truetype");
}
body{
	background-color:#90A4AE;
	color:#FFFFFF;
	
}
.white-big{
	color:#FFFFFF;
}
.font-thai{
	font-family: myFont;
	line-height: 95%;
}
.color-text{
	color:#BF360C;
}
.padding-div{
	padding:1vw;
}
.color-theme{
	background-color:#607D8B;
}