@font-face {
    font-family:myFont;
    src:url('../font/THSarabun.ttf') format("truetype");
}
body{
	background-color:#BF360C;
	color:#FFFFFF;
	
}
.white-big{
	color:#FFFFFF;
}
.font-thai{
	font-family: myFont;
	line-height: 95%;
}
.color-text{
	color:#BF360C;
}